#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border-radius: 20px;
  background: rgba(255,255,255,0.7);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255,255,255,0.75);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header {
  padding: 12px;
}

.header > h2 {
  color: #000000;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.header > small {
  font-size: 16px;
  color: #888;
  margin-top: 2rem;
}

p {
  color: black;
}

span{
  color: #000000;
}

.update {
  display: flex;
  flex-direction: column;
}

input[type="file"]{
  display:none;
}

.updateInput {
  line-height: 3;
  margin-top: 15px;
  flex-wrap: none;
  display: grid;
}

.biceps {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.biceps > label {
  font-size: 16px;
  font-weight: 800;
  background-color:#646cff;
  padding: 0 20px;
  border-radius: 20px;
}

.biceps > label:hover {
  background-color: #8d93fc;
  transform: scale(1.01);
  transition: 0.5s;
}

.triceps {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.triceps > label {
  font-size: 16px;
  font-weight: 800;
  background-color: #646cff;
  padding: 0 20px;
  border-radius: 20px;
}

.triceps > label:hover {
  background-color: #8d93fc;
  transform: scale(1.01);
  transition: 0.5s;
}

.update > button {
  margin: 20px 0;
}

.update > button:hover {
  background-color: #1200f7;
  transition: 2s;
}

.update > button:active {
  background-color: bisque;
  outline: black;
}

/* ----------------------------- */

.cssbuttons-io-button {
  background: #A370F0;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  display: flex;
  margin: 0 auto;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
  background: rgb(255, 255, 255);
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.5s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}







